.navbar-default .navbar-brand { 
    color: #000;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}
#Last { /* серия костылей  потому что я хз как прикрепить справа красиво*/
	width:100px;
	margin-left:100%;
        left:-100px;
}
#Medium {
	width:80px;
	margin-left:100%;
        left:-180px;
}
#First {
	width:100px;
	margin-left:100%;
        left:-280px;
}
.navbar-default .navbar-nav > li > a {
    position:fixed; 
    color: #000;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    margin-left: 
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #000;
    border-bottom-color: #333;
}

.input-group {
    width: 230px;
    border-radius: 10px;
    margin-top: 8px
}

input[type="text"] {
    height: 35px;
    outline: none;
    border-radius: 10px;
     -webkit-appearance: none;
}

#SearchButton {
     width: 70px;
    height: 35px;
    border: none;
    background-color: deepskyblue;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#SearchButton, 
#SearchButton:active, 
#SearchButton:focus {
    outline: none;
}
