body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; /* Современные браузеры */
    font-family: 'Open Sans', sans-serif;
}

.navbar-default {
    background:rgba(0,0,0,0.3);
    border-color;
}

.navbar-default .navbar-brand { 
    color: white;
    font-size: 30px;
}

.navbar-default .navbar-brand:hover {
    color: rgb(200,200,200);
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(200,200,200);
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
    border-color: white;
    border-color:rgba(0,0,0,0);
    color: white;
    background-color:rgba(0,0,0,0);
}

.navbar-default .navbar-toggle:hover {
     background-color:rgba(0,0,0,0);
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #eee;
}

.input-group {
    min-height: 20px; /* Минимальная высота */
    margin: auto;
   }

input[type="search"] {
    height: 35px;
    outline: none;
     -webkit-appearance: none;
    border-radius: 0px;
}

#GlobalSearchButton {
    width: 70px;
    height: 35px;
    border: none;
    background-color: lightgray;
    border-radius: 0px;
}

#SearchButton, 
#SearchButton:active, 
#SearchButton:focus {
    outline: none;
}


.dropdownmenu {
    margin-left: 15%;
    margin-right: 15%;
    margin: auto;
    height: 35px;
    outline: none;
}

#Selector {
    margin-top: 10px;
    height: 25px;
    border-radius: 2px;
    font-size: 16px;
    width: 200px;
    outline: none;
}

.modal-title,
.modal-body {
    color: black;
}

.rulebox {
    margin-top: 70px;
    font-size: 15px;
    height: 500px;
    background-color: white;
    color: #000;
    padding-top: 10px;
    padding-left: 40px;
    box-shadow: 0 0 5px;
}

#conjunction,
#preposition,
#wh-word {
    width: 180px;
    height: 25px;
    outline: none;
    -webkit-appearance: none;
}

.rulesearchbutton {
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    margin-right: 40px;
}

.articlecontent {
    background-color: white;
    box-shadow: 0.5em 0.5em 2px rgba(122,122,122,0.5);
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 1000px;
}

header .row, footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://s013.radikal.ru/i325/1604/4d/92b8cd061be0.jpg');
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

.jumbotron h2 {
  font-size: 45px;
  margin-bottom: 20px;
  color: ;
}


